body {
	overflow: hidden;
}

.hidden {
	display: none;
}

.view-height {
	height: 100vh;
}

.left-nav {
	background-color: #F6F7F9;
	padding: 0;
	padding-top: 5px;
}

.container {
	max-width: 100% !important;
}

#chat-page .event-message {
	width: 100%;
	text-align: center;
	clear: both;
}

#chat-page .event-message p {
	color: #777;
	font-size: 14px;
	word-wrap: break-word;
}

.chat-container {
	height: 87.5%;
}

.messageArea {
	height: 100%;
	overflow: auto;
	list-style: none;
	padding: 20px !important;
	border-top: 1px;
	margin: 0px !important;
	border-right: 1px;
	border-color: #e6e1e1;
	border-style: solid;
	border-left: 0;
	border-bottom: 0;
}

#userArea li {
	cursor: pointer;
	background: transparent;
}

#userArea li.selected {
	background-color: #97c1e2;
	position: relative;
}

.selected:after {
	border: solid 10px transparent;
	border-right-color: #fff;
	position: absolute;
	margin: -85px 0 0 -20px;
}

/* .selected .arrow {
	position: absolute;
	right: -22px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent transparent #97c1e2;
}
 */
#userArea {
	margin-top: 5px;
}
/* span.time {
    float: right;
    font-weight: normal !important;
}
li.chat-message.me {
    background-color: #dcf8c6;
}
li.chat-message.other{
	background-color: #fff;
} */
#chat-page ul li {
	margin: 5px;
}
/* li.chat-message.me:after,li.chat-message.other:after {
    content: ' ';
    position: absolute;
    top: 0px;
    border: 22px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
}
li.chat-message.me:after{
    left: -22px;
    right: auto;
    border-color: #dcf8c6 transparent transparent transparent;
    border-right-width: 0;
}
li.chat-message.other:after {
    right: -22px;
    left: auto;
    border-color: #ffffff transparent transparent transparent;
    border-left-width: 0;
} */

/* Loader animation */
.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.lds-ellipsis div {
	position: absolute;
	top: 27px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
	left: 6px;
	animation: lds-ellipsis1 0.6s infinite;
	background: black;
}

.lds-ellipsis div:nth-child(2) {
	left: 6px;
	animation: lds-ellipsis2 0.6s infinite;
	background: #008000;
}

.lds-ellipsis div:nth-child(3) {
	left: 26px;
	animation: lds-ellipsis2 0.6s infinite;
	background: blueviolet;
}

.lds-ellipsis div:nth-child(4) {
	left: 45px;
	animation: lds-ellipsis3 0.6s infinite;
	background: blue;
}

@
keyframes lds-ellipsis1 { 0% {
	transform: scale(0);
}

100%
{
transform


:

 

scale


(1);
}
}
@
keyframes lds-ellipsis3 { 0% {
	transform: scale(1);
}

100%
{
transform


:

 

scale


(0);
}
}
@
keyframes lds-ellipsis2 { 0% {
	transform: translate(0, 0);
}

100%
{
transform


:

 

translate


(19
px
,
0);
}
}
.messageArea li {
	position: relative;
}

.middle-nav {
	padding: 0 !important;
}

#message {
	border-radius: 0;
}

.actions-chat {
	padding: 5px;
	background-color: #f6f7f9;
}

li.chat-message.me {
	float: right;
}

li.chat-message.other {
	float: left;
}

li.chat-message {
	width: 70%;
}

.me .chat-text {
	background-color: #d2dfec;
	color: #2e66bd;
}

.other .chat-text {
	background-color: #eadbc4;
	color: #826236;
}

.chat-message .chat-text {
	position: relative;
	margin: 20px;
	padding: 10px;
	font-weight: 500;
	white-space: normal;
	word-wrap: break-word;
}

.me .chat-info i {
	float: right;
}

.other .chat-info i {
	float: left;
}

.chat-message .chat-info i {
	border-radius: 28px;
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 0px;
	font-size: 19px;
	color: white;
	font-weight: bold;
}

.me .chat-info {
	float: right;
}

.chat-message .chat-info {
	position: relative;
	top: -22px;
}

span.time {
	font-size: 10px;
}

.me .chat-text:after {
	content: " ";
	position: absolute;
	border-width: 16px;
	border-color: #d2dfec transparent transparent transparent;
	border-style: solid;
	border-right-width: 0;
	top: 0px;
	left: -16px;
}

.other .chat-text:before {
	content: " ";
	border-width: 16px;
	border-color: #eadbc4 transparent transparent transparent;
	border-style: solid;
	border-left-width: 0;
	position: absolute;
	top: 0px;
	right: -16px;
	border-width: 16px;
}

li.event-message {
	float: left;
	width: 100%;
	border-bottom: 1px solid gray;
}

.event-message .chat-info {
	float: left;
}

.event-message
 .chat-text {
	float: left;
	margin-right: 16px;
}

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.user-title {
	padding-left: 8px;
	font-weight: 600;
}
input#searchInput {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
input#searchInput:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.left-nav .input-group {
    width: 85%;
    margin: 0 auto;
}
.chat-user-search .input-group-append {
    background-color: #fff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: -5px;
}

button.btn.btn-outline-secondary.border-left-0.border {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}